<style>
    .hextra-custom-footer {
        max-width: 90rem !important;
        margin-left: auto !important;
        margin-right: auto !important;
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
</style>

<div class="hx:text-center hx:py-10 hx:pt-6">
    {{- $footerMenu := false -}}
    {{- if .context -}}
    {{- $footerMenu = .context.Site.Params.footer.menu -}}
    {{- else -}}
    {{- $footerMenu = .Site.Params.footer.menu -}}
    {{- end -}}

    {{- if $footerMenu -}}
    <nav class="hx:flex hx:justify-center hx:pt-4 hx:gap-4 hx:items-center">
        {{- range $footerMenu -}}
        <a href="{{ .pageRef }}" class="hextra-card hx:mx-4">
            {{ .name }}
        </a>
        {{- end -}}
    </nav>
    {{- end -}}
</div>